/* 重置所有元素的样式 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* 清楚列表的样式 */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 清楚链接的样式 */
a {
    text-decoration: none;
    color: inherit;
}

/* 清楚表单元素的样式 */
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* 清除图片的样式 */
img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* 背景样式 */
html,
body,
#app {
    background-color: #efefef;
}


/* 卡片hover样式 */
.card_hover {
    transition: all 0.25s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.card_hover:hover {
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 20%), 0 2px 4px 0px rgb(0 0 0 / 20%), 0 4px 8px 0px rgb(0 0 0 / 20%), 0 8px 16px 0px rgb(0 0 0 / 20%) !important;
}